{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if messages %}
<div class="alert alert-info">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
</div>
{% endif %}
<div class="d-flex justify-content-between align-items-center p-5 my-2">
      <div class="col-7 d-flex flex-column align-items-center">
            <h3>Welcome to Fantasy Car Point</h3><br>
            <p>
                  Our Fantasy Car Point, located in a prime urban setting, offers a harmonious blend of sophistication
                  and accessibility. With a modern aesthetic, the showroom presents an extensive selection of both new
                  and meticulously maintained used cars, organized for seamless navigation. Knowledgeable sales
                  representatives create an inclusive environment, providing insights and assistance tailored to
                  individual preferences and budgets, making it a trusted destination for automotive excellence.
            </p>
      </div>
      <div class="col-5 px-3">
            <img src="{% static 'car-showroom.jpg' %}" alt="" style="height: 300px; width:auto; border-radius: 10px;">
      </div>
</div>
<div class="d-flex align-items-start justify-content-center px-2 mx-0">
      <div class="col-2 d-flex flex-column align-items-start px-1 pt-5 pb-3 border-end">
            <ul style="list-style-type: none;">
                  <h6 class="text-decoration-underline">Browse by brands: </h6>
                  {% for brand in brands %}
                  <a href="{% url 'filter_by_brand' brand.brand_name %}" class="text-decoration-none">
                        <li>{{ brand.brand_name }}</li>
                  </a>
                  {% endfor %}
                  <a href="{% url 'home' %}" class="text-decoration-none">
                        <li>All</li>
                  </a>
            </ul>
      </div>
      <div class="col-10">
            <h4>Total number of cars: {{models | length}}</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for model in models %}
                  <div class="col-3">
                        <div class="card h-100">
                              <img src="{{ model.image.url }}" class="card-img-top img-fluid"
                                    alt="{{ model.model_name }} {{model.model_year}}" style="height: 150px;">
                              <div class="card-body">
                                    <a href="{% url 'car_details' model.slug %}" class="text-decoration-none">
                                          <h5 class="card-title text-dark">{{ model.brand.brand_name }} {{model.model_name}} {{model.model_year}} {{model.color}}</h5>
                                    </a>
                                    <p class="card-text">Price: ${{ model.price }}</p>
                                    <p class="card-text">{{ model.car_details| truncatewords:15}}</p>
                              </div>
                              {% if user.is_authenticated %}
                              <div class="card-footer">
                                    <a href="{% url 'buy_now' pk=detail.pk %}" class="btn btn-primary w-100">Buy Now</a>
                              </div>
                              {% endif %}
                        </div>
                  </div>
                  {% endfor %}
            </div>
      </div>
</div>
{% endblock %}