{% extends 'base.html' %}
{% block body %}
{% if messages %}
<div class="alert alert-info">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
</div>
{% endif %}

<div class="d-flex p-3">
      <div class="col-2 d-flex flex-column align-items-start px-3 pt-5 pb-3 border-end" style="height: 100vh;">
            <a class="btn btn-secondary mb-2" href="{% url 'update_profile' %}">Edit Profile</a>
            <a class="btn btn-secondary mb-2" href="{% url 'update_password' %}">Update Password</a>
      </div>
      <div class="col-10 ps-4 pe-2">
            <h1 class="mb-3">{{user.username}} Profile</h1>
            {% if user.email %}
            <p>Name: {{user.first_name}} {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            {% else %}
            <p>No data to show. Please <a href="{% url 'update_profile' %}">update information</a></p>
            {% endif %}
            <br><br>
            <h2>Purchase History: </h2>
            <div class="card m-2">
                  {% if purchase_history %}
                  <table class="table">
                        <thead>
                          <tr>
                            <!-- <th scope="col">SL NO</th> -->
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                              {% for list in purchase_history %}
                          <tr>
                            <!-- <th scope="row">{{list.id}}</th> -->
                            <td>{{list.product}}</td>
                            <td>{{list.quantity}}</td>
                            <td>{{list.total_price}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  {% else %}
                      <h6>No purchase history available.</h6>
                  {% endif %}
              </div>
      </div>
</div>
{% endblock %}