{% extends 'base.html' %}
{% block content %}
      <div class="d-flex justify-content-center align-items-center flex-column">
            <h2>Welcome to task management service</h2>
            <!-- <div class="circle-icon my-4">
                  <a href="{% url 'add_task' %}">
                        <i class="fas fa-plus plus-icon" aria-hidden="true"></i>
                  </a>
            </div>
            <div class="circle-icon my-4">
                  <a href="{% url 'add_task' %}">
                        <i class="fas fa-list-check"></i>
                  </a>
            </div> -->
      </div>
{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/88e2e4d5bb.js" crossorigin="anonymous"></script>
{% endblock %}
