.custom-checkbox{
      width: 16px;
      height: 16px;
      border: 1px solid #ddd;
      background-color: white;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.custom-checkbox.checked{
      background-color: #007bff;
}